.leftPanelStyles{
    height: 100%;
    width: 20%;
    border-right: 1px solid grey;
}

.containerStyles {
    background-color: bisque;
    margin-bottom: 0rem;
    padding: 0.8rem;
}

.nameStyles {
    margin-left: 0.8rem;
    margin-top: 0.4rem;
}

.headingStyles {
    margin-block-start: 0rem !important;
    margin-block-end: 0rem !important;
}